# **Encoding Categorical Features**

*Categorical encoding is a process of converting categories to numbers.*

> [**Kaggle Dataset**](https://www.kaggle.com/datasets/farhanmd29/50-startups)

In [ ]:
# Install Kaggle.
!pip install --upgrade --force-reinstall --no-deps kaggle

In [ ]:
# Files Upload.
from google.colab import files

files.upload()

In [ ]:
# Create a Kaggle Folder.
!mkdir ~/.kaggle

# Copy the kaggle.json to the folder created.
!cp kaggle.json ~/.kaggle/

# Permission for the json file to act.
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# Dataset Download.
!kaggle datasets download -d farhanmd29/50-startups

In [ ]:
# Unzip Dataset.
!unzip 50-startups.zip

In [1]:
# Import Library.
import pandas as pd
import numpy as np

# Import Dataset.
data = pd.read_csv("Startups_Expense.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:
# Data Summary.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [3]:
# Count frequency of each category.
data["State"].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [4]:
# Split the dataset into training and test set.
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
X_train.head()

    R&D Spend  Administration  Marketing Spend       State     Profit
12   93863.75       127320.38        249839.44     Florida  141585.52
4   142107.34        91391.77        366168.42     Florida  166187.94
37   44069.95        51283.14        197029.42  California   89949.14
8   120542.52       148718.95        311613.29    New York  152211.77
3   144372.41       118671.85        383199.62    New York  182901.99

In [6]:
X_test.head()

    R&D Spend  Administration  Marketing Spend       State     Profit
13   91992.39       135495.07        252664.93  California  134307.35
39   38558.51        82982.09        174999.30  California   81005.76
30   61994.48       115641.28         91131.24     Florida   99937.59
45    1000.23       124153.04          1903.93    New York   64926.08
17   94657.16       145077.58        282574.31    New York  125370.37

# **Label Encoding**

[**sklearn.preprocessing.LabelEncoder**](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder)

***Label Encoding is a popular encoding technique for handling categorical variables. In this technique, each label gets assigned to a unique integer based on alphabetical ordering.***

### **Challenges with Label Encoding:**

In label encoding technique, the categorical variables do not have an order or rank. Hence, there is a very high probability that the model captures the relationship between countries such as **New York $<$ Florida $<$ California**. To overcome this obstacle, we use the **One-Hot Encoding** technique.

***Label encoding assigns each unique value to a different integer.***

In [7]:
# Label Encoding.
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
X_train["State"] = label_encoder.fit_transform(X_train["State"])
X_train.head()

    R&D Spend  Administration  Marketing Spend  State     Profit
12   93863.75       127320.38        249839.44      1  141585.52
4   142107.34        91391.77        366168.42      1  166187.94
37   44069.95        51283.14        197029.42      0   89949.14
8   120542.52       148718.95        311613.29      2  152211.77
3   144372.41       118671.85        383199.62      2  182901.99

In [8]:
X_test["State"] = label_encoder.transform(X_test["State"])
X_test.head()

    R&D Spend  Administration  Marketing Spend  State     Profit
13   91992.39       135495.07        252664.93      0  134307.35
39   38558.51        82982.09        174999.30      0   81005.76
30   61994.48       115641.28         91131.24      1   99937.59
45    1000.23       124153.04          1903.93      2   64926.08
17   94657.16       145077.58        282574.31      2  125370.37

# **One-Hot Encoding**

[**sklearn.preprocessing.OneHotEncoder**](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder)

***One-Hot Encoding is the process of creating dummy variables.***

One-Hot Encoding is another popular technique for treating categorical variables. This technique creates additional features based on the number of unique values in the categorical feature. Every unique value in the category will be added as a feature.

### **Challenges of One-Hot Encoding: Dummy Variable Trap:**

*Dummy Variable Trap is a scenario in which variables are highly correlated to each other.*

One-Hot Encoding results in a Dummy Variable Trap, since the outcome of one variable can easily be predicted with the help of the remaining variables. The Dummy Variable Trap leads to the problem known as **multicollinearity**. Multicollinearity occurs when there is a dependency between the independent features. Multicollinearity is a serious issue in machine learning models like Linear Regression and Logistic Regression. So, to overcome the problem of multicollinearity, one of the dummy variables has to be dropped.

Another problem with the One-Hot Encoding technique is that it makes the feature space large by adding additional features into the dataset. Hence it becomes computationally expensive and might face the problem of the curse of dimensionality.

In [9]:
# Split the dataset into training and test set.
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(data, test_size=0.2, random_state=74)

In [10]:
X_train.head()

    R&D Spend  Administration  Marketing Spend       State     Profit
3   144372.41       118671.85        383199.62    New York  182901.99
29   65605.48       153032.06        107138.38    New York  101004.64
34   46426.07       157693.92        210797.67  California   96712.80
5   131876.90        99814.71        362861.36    New York  156991.12
13   91992.39       135495.07        252664.93  California  134307.35

In [11]:
X_test.head()

    R&D Spend  Administration  Marketing Spend       State     Profit
22   73994.56       122782.75        303319.26     Florida  110352.25
16   78013.11       121597.55        264346.06  California  126992.93
26   75328.87       144135.98        134050.07     Florida  105733.54
8   120542.52       148718.95        311613.29    New York  152211.77
32   63408.86       129219.61         46085.25  California   97427.84

In [12]:
# One-Hot Encoding.
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(
    transformers=[("encoder", OneHotEncoder(), [3])], remainder="passthrough"
)
X = np.array(ct.fit_transform(X_train.iloc[:, :].values))

data = pd.DataFrame(
    X,
    columns=[
        "California",
        "Florida",
        "New York",
        "R&D Spend",
        "Administration",
        "Marketing Spend",
        "Profit",
    ],
)

data.head()

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
1,0.0,0.0,1.0,65605.48,153032.06,107138.38,101004.64
2,1.0,0.0,0.0,46426.07,157693.92,210797.67,96712.8
3,0.0,0.0,1.0,131876.9,99814.71,362861.36,156991.12
4,1.0,0.0,0.0,91992.39,135495.07,252664.93,134307.35

In [13]:
y = np.array(ct.transform(X_test.iloc[:, :].values))

test = pd.DataFrame(
    y,
    columns=[
        "California",
        "Florida",
        "New York",
        "R&D Spend",
        "Administration",
        "Marketing Spend",
        "Profit",
    ],
)

test.head()

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,1.0,0.0,73994.56,122782.75,303319.26,110352.25
1,1.0,0.0,0.0,78013.11,121597.55,264346.06,126992.93
2,0.0,1.0,0.0,75328.87,144135.98,134050.07,105733.54
3,0.0,0.0,1.0,120542.52,148718.95,311613.29,152211.77
4,1.0,0.0,0.0,63408.86,129219.61,46085.25,97427.84

# **When to use a Label Encoding vs. One Hot Encoding?**

This question depends on the dataset and the model we wish to apply. But still, a few points to note before choosing the correct encoding technique:

**Apply One-Hot Encoding when:**
*  The categorical feature is not ordinal (i.e., India, USA, UK, France, etc.)

*  The number of categorical features is less, so one-hot encoding can be effectively applied.

**Apply Label Encoding when:**
*  The categorical feature is ordinal (like Jr. kg, Sr. kg, Primary School, High School, etc.)

*  The number of categories is quite large as one-hot encoding can lead to high memory consumption.